URP Studio Livery Creator.unitypackage
.vs
Library
Library/APIUpdater/ConfigurationCache/
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
Build


/EchoTrigger2/Assets/ActionSTG
/EchoTrigger2/Assets/StoreAsset
