URP Studio Livery Creator.unitypackage
.vs
Library
Library/APIUpdater/ConfigurationCache/
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
Build


/EchoTrigger2/Assets/ActionSTG
/EchoTrigger2/Assets/StoreAsset/Font
/EchoTrigger2/Assets/StoreAsset/Item
/EchoTrigger2/Assets/StoreAsset/UI
/EchoTrigger2/Assets/StoreAsset/アニメーション
/EchoTrigger2/Assets/StoreAsset/エフェクト


/EchoTrigger2/Assets/StoreAsset/マップ/Brick garages
/EchoTrigger2/Assets/StoreAsset/マップ/office
/EchoTrigger2/Assets/StoreAsset/マップ/ゴミ用素材
/EchoTrigger2/Assets/StoreAsset/マップ/スイッチの素材
/EchoTrigger2/Assets/StoreAsset/マップ/トイレの素材
/EchoTrigger2/Assets/StoreAsset/マップ/家具用の素材
/EchoTrigger2/Assets/StoreAsset/マップ/木の素材

